accelerate==0.33.0
bm25s==0.1.10
chroma-hnswlib==0.7.6
duckdb==1.1.0
fire==0.6.0
git+https://github.com/luthfibalaka/chroma.git@deterministic-index-building
jax==0.4.33
pandas==2.2.3
peft==0.12.0
PyStemmer==2.2.0.1
sentence-transformers==3.0.1
torch==2.4.0
transformers==4.48.3
